.container{
    margin: 5rem 15rem;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: aliceblue;
    padding: 2rem;
    box-shadow: 2px 1px 1px 2px black;
}

.title{
    /* background-color: rgb(60, 128, 87); */
    color: rgb(7, 10, 35);
    text-align: center;
    padding: 1rem;
    text-shadow: 1px 8px 15px;
}

.display{
    font-size: 1.3rem;
    font-weight: bold;
}

@media screen and (min-width: 710px) and (max-width: 1000px){
    .container{
        margin: 2rem ;
    }
}

@media screen and (min-width: 310px) and (max-width: 700px){
    .container{
        margin: 0.5rem ;
    }

    .main{
        padding: 1rem;
    }
}
